.flexRow--home-section {
  /* max-width: 95%; */
  margin-left  : auto;
  margin-right : auto;
  border       : 1px solid #000;
  margin-bottom: 1.5rem;
}

/* Section one Banner Promo */
.flexColChild--phone__home---section-one {
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin-bottom  : 12px;
  overflow       : hidden;
}

/* Section fad */
.flexCol--phone__home--bottom-fad {
  flex-direction: row;
  flex-wrap     : wrap;
}

.flexCol--phone__home--bottom-fad .flexColChild--phone__home--bottom-fad {
  width: 50%;
}

/* Section two recommended */
.flexRow--home__recommended--product-img {
  width : 170px;
  height: 170px;
  margin: 0 auto;
}

/* Section four Tech Promo */
.flexRowContent--home__tech--imgs-bottom {
  gap   : 0.5rem;
  height: 158px;
}

.flexColChild--phone__home--tech {
  height: 158px;
}

/* Section two Banners Promos */
.flexCol--phone__home--category-promo {
  gap: 0.5rem;
}